<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>step</th>
      <th>amount</th>
      <th>oldbalanceOrg</th>
      <th>newbalanceOrig</th>
      <th>isMerchantDest</th>
      <th>fraud</th>
      <th>Is_fraud</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>155.0</td>
      <td>1477.63</td>
      <td>40667.00</td>
      <td>39189.37</td>
      <td>1.0</td>
      <td>1</td>
      <td>Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>1</th>
      <td>284.0</td>
      <td>498747.55</td>
      <td>498747.55</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>1</td>
      <td>Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>2</th>
      <td>358.0</td>
      <td>69674.16</td>
      <td>118724.00</td>
      <td>188398.16</td>
      <td>0.0</td>
      <td>1</td>
      <td>Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>3</th>
      <td>568.0</td>
      <td>32521.24</td>
      <td>32521.24</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>1</td>
      <td>Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>4</th>
      <td>163.0</td>
      <td>140.80</td>
      <td>15719.00</td>
      <td>15578.20</td>
      <td>1.0</td>
      <td>1</td>
      <td>Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>5</th>
      <td>311.0</td>
      <td>6558087.93</td>
      <td>6558087.93</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>1</td>
      <td>Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>6</th>
      <td>639.0</td>
      <td>49199.20</td>
      <td>49199.20</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>1</td>
      <td>Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>7</th>
      <td>101.0</td>
      <td>253793.28</td>
      <td>253793.28</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>1</td>
      <td>Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>8</th>
      <td>186.0</td>
      <td>2728.37</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1.0</td>
      <td>1</td>
      <td>Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>9</th>
      <td>42.0</td>
      <td>192358.10</td>
      <td>10214.00</td>
      <td>202572.10</td>
      <td>0.0</td>
      <td>1</td>
      <td>Fraudulent Transaction</td>
    </tr>
  </tbody>
</table>