<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>step</th>
      <th>TRANSFER</th>
      <th>PAYMENT</th>
      <th>DEBIT</th>
      <th>CASH_OUT</th>
      <th>CASH_IN</th>
      <th>fraud_prediction</th>
      <th>amount</th>
      <th>oldbalanceOrg</th>
      <th>newbalanceOrig</th>
      <th>oldbalanceDest</th>
      <th>newbalanceDest</th>
      <th>isMerchantOrig</th>
      <th>isMerchantDest</th>
      <th>isFraud_ground_truth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>7</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>Fraudulent Transaction</td>
      <td>21571.00</td>
      <td>21571.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>1</th>
      <td>275</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>Fraudulent Transaction</td>
      <td>21323.28</td>
      <td>21323.28</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>2</th>
      <td>187</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>Fraudulent Transaction</td>
      <td>2044841.02</td>
      <td>2044841.02</td>
      <td>0.00</td>
      <td>397169.10</td>
      <td>2442010.12</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>3</th>
      <td>365</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>Non Fraudulent Transaction</td>
      <td>916644.03</td>
      <td>916644.03</td>
      <td>0.00</td>
      <td>2026.90</td>
      <td>918670.94</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>4</th>
      <td>661</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>Fraudulent Transaction</td>
      <td>10000000.00</td>
      <td>12140888.35</td>
      <td>2140888.35</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>5</th>
      <td>159</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>Non Fraudulent Transaction</td>
      <td>290448.64</td>
      <td>49671.00</td>
      <td>340119.64</td>
      <td>34047.63</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>Non Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>6</th>
      <td>19</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>Non Fraudulent Transaction</td>
      <td>7521.26</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>Non Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>7</th>
      <td>210</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>Non Fraudulent Transaction</td>
      <td>12043.69</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>Non Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>8</th>
      <td>357</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>Non Fraudulent Transaction</td>
      <td>120116.21</td>
      <td>97688.68</td>
      <td>217804.90</td>
      <td>849069.38</td>
      <td>728953.17</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>Non Fraudulent Transaction</td>
    </tr>
    <tr>
      <th>9</th>
      <td>211</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>Non Fraudulent Transaction</td>
      <td>115161.12</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>576802.51</td>
      <td>691963.63</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>Non Fraudulent Transaction</td>
    </tr>
  </tbody>
</table>