<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>step</th>
      <th>type</th>
      <th>amount</th>
      <th>nameOrig</th>
      <th>oldbalanceOrg</th>
      <th>newbalanceOrig</th>
      <th>nameDest</th>
      <th>oldbalanceDest</th>
      <th>newbalanceDest</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.0</td>
      <td>PAYMENT</td>
      <td>9839.64</td>
      <td>C1231006815</td>
      <td>170136.00</td>
      <td>160296.36</td>
      <td>M1979787155</td>
      <td>0.0</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.0</td>
      <td>PAYMENT</td>
      <td>1864.28</td>
      <td>C1666544295</td>
      <td>21249.00</td>
      <td>19384.72</td>
      <td>M2044282225</td>
      <td>0.0</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1.0</td>
      <td>TRANSFER</td>
      <td>181.00</td>
      <td>C1305486145</td>
      <td>181.00</td>
      <td>0.00</td>
      <td>C553264065</td>
      <td>0.0</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1.0</td>
      <td>CASH_OUT</td>
      <td>181.00</td>
      <td>C840083671</td>
      <td>181.00</td>
      <td>0.00</td>
      <td>C38997010</td>
      <td>21182.0</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1.0</td>
      <td>PAYMENT</td>
      <td>11668.14</td>
      <td>C2048537720</td>
      <td>41554.00</td>
      <td>29885.86</td>
      <td>M1230701703</td>
      <td>0.0</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1.0</td>
      <td>PAYMENT</td>
      <td>7817.71</td>
      <td>C90045638</td>
      <td>53860.00</td>
      <td>46042.29</td>
      <td>M573487274</td>
      <td>0.0</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1.0</td>
      <td>PAYMENT</td>
      <td>7107.77</td>
      <td>C154988899</td>
      <td>183195.00</td>
      <td>176087.23</td>
      <td>M408069119</td>
      <td>0.0</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1.0</td>
      <td>PAYMENT</td>
      <td>7861.64</td>
      <td>C1912850431</td>
      <td>176087.23</td>
      <td>168225.59</td>
      <td>M633326333</td>
      <td>0.0</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1.0</td>
      <td>PAYMENT</td>
      <td>4024.36</td>
      <td>C1265012928</td>
      <td>2671.00</td>
      <td>0.00</td>
      <td>M1176932104</td>
      <td>0.0</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1.0</td>
      <td>DEBIT</td>
      <td>5337.77</td>
      <td>C712410124</td>
      <td>41720.00</td>
      <td>36382.23</td>
      <td>C195600860</td>
      <td>41898.0</td>
      <td>40348.79</td>
    </tr>
  </tbody>
</table>