<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>precision</th>
      <th>recall</th>
      <th>f1-score</th>
      <th>support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Non-fraud</th>
      <td>0.869565</td>
      <td>1.00</td>
      <td>0.930233</td>
      <td>20.0</td>
    </tr>
    <tr>
      <th>Fraud</th>
      <td>1.000000</td>
      <td>0.70</td>
      <td>0.823529</td>
      <td>10.0</td>
    </tr>
    <tr>
      <th>accuracy</th>
      <td>0.900000</td>
      <td>0.90</td>
      <td>0.900000</td>
      <td>0.9</td>
    </tr>
    <tr>
      <th>macro avg</th>
      <td>0.934783</td>
      <td>0.85</td>
      <td>0.876881</td>
      <td>30.0</td>
    </tr>
    <tr>
      <th>weighted avg</th>
      <td>0.913043</td>
      <td>0.90</td>
      <td>0.894665</td>
      <td>30.0</td>
    </tr>
  </tbody>
</table>