<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>precision</th>
      <th>recall</th>
      <th>f1-score</th>
      <th>support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Non-fraud</th>
      <td>1.0000</td>
      <td>0.70</td>
      <td>0.823529</td>
      <td>20.0</td>
    </tr>
    <tr>
      <th>Fraud</th>
      <td>0.6250</td>
      <td>1.00</td>
      <td>0.769231</td>
      <td>10.0</td>
    </tr>
    <tr>
      <th>accuracy</th>
      <td>0.8000</td>
      <td>0.80</td>
      <td>0.800000</td>
      <td>0.8</td>
    </tr>
    <tr>
      <th>macro avg</th>
      <td>0.8125</td>
      <td>0.85</td>
      <td>0.796380</td>
      <td>30.0</td>
    </tr>
    <tr>
      <th>weighted avg</th>
      <td>0.8750</td>
      <td>0.80</td>
      <td>0.805430</td>
      <td>30.0</td>
    </tr>
  </tbody>
</table>